<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.senstive.mapper.CountryMapper">


    <select id="selectCountryById" resultMap="countryMapper" parameterType="int">
        select cid, cname
        from country
        where cid = #{cid}
    </select>


    <resultMap type="com.example.senstive.domain.Country" id="countryMapper">
        <id column="cid" property="cid"/>
        <result column="cname" property="cname"/>
        <!-- country中有一个成员变量是ministers，它的泛型是Minister -->
        <collection property="ministers"
                    ofType="com.example.senstive.domain.Minister"
                    select="selectMinisterByCountry"
                    column="cid">
        </collection>
    </resultMap>

    <select id="selectMinisterByCountry" resultType="com.example.senstive.domain.Minister">
        select mid, mname
        from minister
        where countryId = #{ooo}
    </select>

</mapper>

